.card{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #373660;
    height: 30rem;
    width: 50rem;
    border: none;
    border-radius: 10px;
    padding: 1rem 6rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text-profile{
    position: absolute;
    background-color: #272643;
    top: -10px;
    left: -10px;
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 2.5rem;
}

.card-desc ul{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.card-desc ul li {
    list-style: none;
}

.card-desc ul li h1{
    font-size: .9rem;
    color: #CCCCCC;
    font-weight: 600;
}

.card-desc ul li p{
    position: relative;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .3px;
    font-size: .8rem;
    color: #F8F8FF;
}

.card-desc ul li p::before{
    content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #9E9E9E;
}

.card-photo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

}

.photo{
    width: 13rem; /* Lebar container */
    height: 13rem; /* Tinggi container */
    overflow: hidden; /* Sembunyikan bagian gambar yang melampaui container */
    position: relative;
}


.photo img{
    width: 100%; /* Isi penuh container */
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.icon-camera{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 10;
    font-size: 1.1rem;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.card-photo button{
    height: 3rem;
    width: 12rem;
    background-color: #272643;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 600;
    box-shadow: rgba(16, 17, 17, 0.2) 0px 8px 24px;
    font-size: 1.3rem;
    color: #eaeaea;
    cursor: pointer;
}